%h1 Modifier un itinéraire
  
= content_for :javascripts do
  = javascript_include_tag 'itineraries', 'data-turbolinks-track' => true
  = javascript_include_tag 'maps', 'data-turbolinks-track' => true
  %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry&language=#{I18n.locale}"}
  %script{src: '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'}

.row
  .col-md-6
    %ul
      - Establishment.all.each do |e|
        %li= link_to("#{e.id} #{e.brand.name} #{e.label}", '#', class: 'add_establishment', data: {establishment: {id: e.id, establishment: e.label, brand: e.brand.name}})
    
  
  .col-md-5
    = render 'form'
    
    
