= render 'javascripts'

.container-fluid
  .row 
    .col-xs-12
      %h1= @itinerary.persisted? ? 'Modifier' : 'Créer'
  
  .row
    .col-md-6
      = render 'map'
    
    .col-md-6
      = form_for @itinerary do |f|
        .form-group
          = f.label :title, :class => 'control-label'
          = f.text_field :title, :class => 'form-control', :placeholder => 'title'
        .form-group
          = f.label :description, :class => 'control-label'
          = link_to "#itinerary-description", id: 'collapse-itinerary-description', class: 'collapsed', role: "button", data: {toggle: "collapse"}, aria: {expanded: false, controls: "itinerary-description" } do
            %i.fa.fa-chevron-circle-up
            %i.fa.fa-chevron-circle-down
          #itinerary-description.collapse
            = f.cktext_area :description, :class => 'form-control', :placeholder => 'Description', rows: 5
          
          .stops
            %h2 Stops
          
            #stops.sortable
              = f.fields_for :stops, include_id: false  do |stop_form|
                = render 'stop_fields', f: stop_form
  
        - stop_fields_template f, :stops
  
        = f.submit class: 'btn btn-info', value: "#{@itinerary.persisted? ? 'Modifier' : 'Créer'}"
    
    
:coffee
  $(document).ready ->
    $("#map-container").load("#{selectable_map_path}")