= render 'javascripts'

.container-fluid
  .row 
    .col-xs-12
      %h1= @itinerary.persisted? ? 'Modifier' : 'Créer'
  
  .row
    .col-md-6
      = render 'map'
    
    .col-md-6
      = form_for @itinerary do |f|
        .form-group
          = f.label :title, :class => 'control-label'
          = f.text_field :title, :class => 'form-control', :placeholder => 'title'
          %h3 stops
          = f.fields_for :stops do |stop_form|
            = render 'stop_fields', f: stop_form

        = link_to_add_fields "Add Field", f, :stops
  
        - stop_fields_template f, :stops
  
        = f.submit
    
    
:coffee
  $(document).ready ->
    $("#map-container").load("#{selectable_map_path}")