%h1
  = t('my_itineraries')
  = link_to itineraries_path, method: :post do
    %i.fa.fa-plus
- unless itineraries.blank?
  %ul.user-itineraries
    - itineraries.each do |i|
      %li
        %span.itinerary-published<>
          = date_long_or_words i.updated_at
        %span.itinerary-title<>
          = i.title
        %span.itinerary-social{id: "#{dom_id(i, 'social')}"}<>
          = render partial:"users/likes", locals: {resource: i}
        %span.itinerary-view<>
          %i.fa.fa-eye
          = rand(20)
        %span.itinerary-edit<>
          - if Itinerary.form_steps.include?(i.status)
            =link_to itinerary_build_path(i, id: i.status) do
              %i.fa.fa-edit
        %span.itinerary-destroy<>
          =link_to i, method: :delete, data: {confirm: t('activerecord.actions.itinerary.destroy', title: i.title)} do
            %i.fa.fa-trash-o
      

