- if current_user
  
  %ul.nav.navbar-nav.navbar-right
    %li.visible-xs-block
      %button.btn.btn-default.dropdown-toggle{type: "button", data: {toggle: "dropdown"}}
        %i.fa.fa-bars
        %span.caret
      %ul.dropdown-menu.pull-right
        %li a
        %li b

    
    %li
      %a.dropdown-toggle{href: '#', data: {toggle: "dropdown"}}
        %i.fa.fa-comment
        %span.badge.info 3

    %li
      = link_to profile_path(current_user), class: "avatar", type: "button" do
        %span
          = !current_user.name.blank? ? current_user.name : current_user.username
        = image_tag(current_user.avatar.thumb("28x28").url, class: "img-circle") if current_user.avatar

- else
  = form_for(User.new, url: session_path(:user), html: {class: "form-horizontal form-inline navbar-form2"}) do |f|
    .form-group
      .input-group
        = f.text_field :login, class: "form-control", placeholder: "email or username..."
      .input-group
        = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password..."
      = f.submit "log in"
      
