.container-fluid.itinerary

  .row
    .col-xs-12
      %h1
        = @itinerary.title
        
      %p= @itinerary.description.html_safe unless @itinerary.description.blank?

      %p
        = "updated #{l(@itinerary.updated_at, :format => :short)}"
        = "by #{@itinerary.user.username}"

  .row 
    .col-xs-12.col-md-6
      
      - unless @itinerary.stops.blank?
      
        %ul.itinerary-stops
          - @itinerary.stops.each do |stop|
            %li
              = render 'brands/namecard', { brand: stop.establishment.brand, responsive: true}
              .establishment
                = stop.establishment.try(:label)
              .stop
                = stop.description.html_safe unless stop.description.blank?
      
    .col-md-6
      = link_to review_editor_itinerary_path(@itinerary, review: 'review'), class: 'btn btn-primary', method: :patch, data: {disabled_with: 'working...'} do
        %i.fa.fa-clock-o
        review
  
      = link_to review_editor_itinerary_path(@itinerary, review: 'accept'), class: 'btn btn-primary', method: :patch, data: {disabled_with: 'working...'} do
        %i.fa.fa-thumbs-o-up 
        accept
    
      = link_to review_editor_itinerary_path(@itinerary, review: 'reject'), class: 'btn btn-primary', method: :patch, data: {disabled_with: 'working...'} do
        %i.fa.fa-thumbs-o-down
        reject
      