.container-fluid
  .row
    .col-xs-12.col-md-8
      %ul.breadcrumb
        %li= link_to t('shoppingly.home').humanize, root_path
        %li= link_to Brand.model_name.human(count: 2).humanize, brands_path
        %li= breadcrumb_brandname(@brand)
      %article.brand{itemscope: true, itemtype:"http://schema.org/Article", id:@brand.id}
        .brand-wrapper
          %figure.brand-banner 
            =image_tag @brand.banner ? @brand.banner.thumb('1000x300#').url : "http://placehold.it/1000x300",
            class: "img-responsive"
          
          .branner-inner
        
            = render partial: 'namecard', locals: {responsive: true, brand: @brand}
        
            .clearfix
        
            %p.description= @brand.description.html_safe unless @brand.description.blank?
        
            - unless (establishments = @brand.establishments).blank?
              = render 'maps/javascripts'
          
              %h2= t 'shoppingly.stores', :count => establishments.count
              %ul.establishments
                - establishments.each do |establishment|
                  %li.establishment= establishment.label
              #map-container.thumbnail
                =image_tag 'spinning.gif'

            - unless (posts = @brand.posts).blank?
              %h2= t '.related_posts'
              %ul
                - posts.each do |post|
                  %li= link_to post.title, post_path(post)
              
            - unless (itineraries = @brand.itineraries).blank?
              %h2= t '.related_itineraries'
              %ul
                - itineraries.each do |itinerary|
                  %li= link_to itinerary.title, itinerary_path(itinerary)


                  
:coffee
  $(document).ready ->
    $("#map-container").load("#{static_map_path(:ids => @brand.establishments.pluck(:id))}")