.container-fluid
  .row
    .col-xs-12.col-md-8
      %article.brand{itemscope: true, itemtype:"http://schema.org/Article", id:@brand.id}
        .brand-wrapper
          %figure.brand-banner 
            =image_tag @brand.banner ? @brand.banner.thumb('1000x300#').url : "http://placehold.it/1000x300", class: "img-responsive"
            .brand-logo
              = logo_tag @brand, :large, {class: 'img-responsive img-thumbnail'}
            %h1.brand-name= brand_name(@brand)
            
          .clearfix
            
          .brand-inner
            
            %span.brand-social{id: "#{dom_id(@brand, 'social')}"}
              = render partial:"users/likes", locals: {resource: @brand}
        
            %p.description= @brand.description.html_safe unless @brand.description.blank?
        
    .col-xs-12.col-md-4
    
      %aside{id: 'sidebar'}
      
        = render partial: 'brands/widgets/establishments'
            
        - unless (posts = @brand.posts).blank?
          #brand-posts.widget
            %h2.title= t '.related_posts'
            %ul.posts
              - posts.each do |post|
                %li.post= link_to post.title, post_path(post)
              
        - unless (itineraries = @brand.itineraries).blank?
          #brand-itineraries.widget
            %h2.title= t '.related_itineraries'
            %ul.itineraries
              - itineraries.each do |itinerary|
                %li.itinerary= link_to itinerary.title, itinerary_path(itinerary)

                  
:coffee
  $(document).ready ->
    $("#map-container").load("#{static_map_path(:ids => @brand.establishments.pluck(:id))}")