%nav.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  .container-fluid
    .row
      .col-xs-8
        
        = form_tag("/do/search", method: "get", class: "form-horizontal navbar-form2", role: "search") do
          .form-group
            .input-group
            
              .input-group-btn
                %button.btn.btn-default{type: "button"}
                  =link_to image_tag("logo.png", width:"17px", height:"17px"), "/"
              

              
              = text_field_tag(:q, nil, class: "form-control", placeholder: "Search...")
              
              
              
              %span.input-group-btn
                %button.btn.btn-default.dropdown-toggle{type: "button", data: {toggle: "dropdown"}}
                  %i.fa.fa-bars
                  %span.caret
                  
                %ul.dropdown-menu.pull-right
                  %li a
                  %li b
              

      .col-xs-3
        - if current_user
          %ul.nav.navbar-nav.navbar-right
            %li
              = image_tag current_user.avatar.thumb("30x30").url
            %li
              = current_user.username
            %li
              = link_to 'logout', destroy_user_session_path, :method => :delete
        - else
          = form_tag(user_session_path, method: "post", class: "form-horizontal navbar-form2") do
            .form-group
              .input-group
                = text_field_tag("user[email]", nil, class: "form-control", placeholder: "email...")
                = text_field_tag("user[password]", nil, class: "form-control", placeholder: "password...")
                %button.btn.btn-default{type: "submit"} Submit
                
                = render 'devise/menu/login_items'


    

