!!! 5

%html
  = render 'layouts/head'

  %body
  
    = render 'layouts/breakpoints'
    = render 'layouts/nav'
    
    #flash= render partial: 'layouts/flash', collection: [:notice, :alert], as: :level

    = yield

    = render 'layouts/footer'
        
  %script
    var I18n_locale="#{I18n.locale}" 
  = yield(:javascripts) if content_for?(:javascripts)
