!!! 5

%html
  = render 'layouts/head'

  %body
  
    = render 'layouts/breakpoints'
    = render 'layouts/nav'
    
    #flash= render partial: 'layouts/flash', collection: [:notice, :alert], as: :level
    
    .container-fluid
      .row
        .col-xs-12.col-md-9.col-lg-10
          %section.user{itemscope: true, itemprop:"about", itemtype:"http://schema.org/ProfilePage", id:current_user.id}
            .user-wrapper
              %figure.user-banner.blue 
                =image_tag "placeholders/1000x300.png", class: "img-responsive"
                .user-avatar
                  = image_tag current_user.avatar.thumb("200x200").url, class: 'img-responsive img-thumbnail' if current_user.avatar
                %h1.user-name= current_user.name
          
              .clearfix

              .user-inner
                #contents-container
                  = yield
                    
        .col-xs-12.col-md-3.col-lg-2
          = render 'users/menu'

    = render 'layouts/footer'
    
  %script
    var I18n_locale="#{I18n.locale}" 
  = yield(:javascripts) if content_for?(:javascripts)